/* 
    Write your CSS here 
    Gap Colour: #000
    White: #F0F1EC
    Red: #E72F24
    Black: #232629
    Blue: #004592
    Yellow: #F9D01E

    For dimensions, see dimensions.png image.
    HINT: Remember you can't change the properties of grid lines.
    But grid lines are transparent!
    */
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  height: 90vh;
}

.container {
  position: relative;
  top: calc(50vh - 35vw); /* The 35vw part is width / 2  */
  left: 15vw;
  width: 70vw;
  height: 70vw;
  background-color: #000;
  display: grid;
  gap: .9rem;
}

@media screen and (orientation: landscape) and (max-width: 85rem) and (max-height: 55rem) {
  .container{
    top: 15vh; /* The 35vh part is height / 2  */
    left: calc(50vh - 35vh);
    width: 70vh;
    height: 70vh;
  }
} 